/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Recipe Table Styling */
.recipe-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.recipe-table th, .recipe-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.recipe-table th a {
    color: white !important;
    text-decoration: none;
}

.recipe-table th a:hover {
    text-decoration: underline;
}

.recipe-table th {
    background-color: #333;
    color: white;
}

.recipe-table td {
    color: #333;
}

/* Set fixed widths for specific columns */
.recipe-table th.serial-no, .recipe-table td.serial-no {
    width: 50px;
}

.recipe-table th.recipe-name, .recipe-table td.recipe-name {
    width: auto;
}

.recipe-table th.actions, .recipe-table td.actions {
    width: 300px;
}

/* Button Styling */
.btn {
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
}

.btn-view {
    background-color: #0852a1;  /* Bootstrap's primary color */
}

.btn-edit {
    background-color: #007bff;  /* Bootstrap's primary color */
}

.btn-delete {
    background-color: #dc3545;  /* Bootstrap's danger color */
}

.btn-create{
    background-color:#02441e;
}

.btn:hover {
    opacity: 0.9;
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.pagination-container p {
    margin: 30px 0;
    color: #333;
}

.pagination-links a,
.pagination-links span {
    color: #007bff;
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.pagination-links .active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination-links .disabled {
    color: #ccc;
}

/* Container to keep everything aligned in a single line */
form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    border-radius: 4px;
    padding: 4px; /* Reduced padding for smaller height */
    font-size: 0.9rem; /* Slightly smaller font size for compact look */
    height: 1.2rem; /* Half of the original height */
}

search-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 4px; /* Reduced padding to match the smaller input field */
    height: 1.2rem; /* Matches input height */
}


/* Adjustments for Small Screens */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .recipe-table th, .recipe-table td {
        padding: 10px;
    }

    .btn {
        display: block;
        margin: 5px 0;
    }
}
